# pip3 install -U -r requirements.txt
Cython
numpy
opencv-python
matplotlib
tqdm
tb-nightly
future
Pillow
pandas
flask
python-datauri
gunicorn
# pycocotools # install seperately.. otherwise pip crashes because it doesn't link Cython and numpy as its dependencies
