# pip3 install -U -r requirements.txt
Cython
numpy
opencv-python
matplotlib
tqdm
tb-nightly
future
Pillow
pandas
flask
python-datauri
# pycocotools # install seperately.. otherwise pip crashes because it doesn't link Cython and numpy as its dependencies

# Equivalent conda commands ----------------------------------------------------
# conda update -n base -c defaults conda
# conda install -yc anaconda future numpy opencv matplotlib tqdm pillow pandas flask
# conda install -yc conda-forge scikit-image tensorboard pycocotools
# conda install -yc spyder-ide spyder-line-profiler
# conda install -yc pytorch pytorch torchvision
